{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Attack on Titan</h1>

    <form method="GET">

        <input type="text" name="search" placeholder="Search character">

        <button type="submit" class="button">
            Search
        </button>

    </form>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if name %}

        <h2>{{ name }}</h2>

        {% if image %}
            <img src="{{ image }}">
        {% endif %}

        <p>Status: {{ status }}</p>
        <p>Gender: {{ gender }}</p>
        <p>Species: {{ species }}</p>

    {% endif %}

    <a href="/aot" class="button">
        Random Character
    </a>

</div>

{% endblock %}